/*body {*/
  /*background-color: #fcfcfc;*/
  /*font-family: "Apercu Regular", "Helvetica Neue", Helvetica, sans-serif;*/
/*}*/

.topic {
  color: white;
  background-color: lightcoral;
  padding: .1em .6em;
  transform: rotate(-5deg);

  -moz-transform:rotate(-5deg);  
  -webkit-transform:rotate(-5deg);  
  -o-transform:rotate(-5deg);
  display: inline-block;
  /*position: absolute;*/
  font-family: Helvetica, Arial,verdana, sans-serif;
}

.timeline {
  font-size: 18px;
  margin-left: 35%;
  padding-top: 1em;
  font-family: verdana, Arial, Helvetica, sans-serif;

}

.timeline li {
  color: dimgray;
  font-weight: bold;
  list-style-type: none;
  border-left: 1px solid lightgrey;
  padding-bottom: 1.5em;
  position: relative;
  width:80%;
}
.timeline li > time {
  font-family: monospace;
  position: absolute;
  top: -1.6em;
  left: -12.3em;
  width: 205px;
  text-align: right;
  transform: rotate(15deg);
  -moz-transform:rotate(15deg);  
  -webkit-transform:rotate(15deg);  
  -o-transform:rotate(15deg);
}
.timeline li > title{
  display: block;
  padding-left: 10px;
}
.timeline li > div {
  padding-left: 10px;

}
.timeline li > title:hover {
  *text-decoration: underline;
  cursor: pointer;
  color: lightseagreen;
}

.timeline li > title.no-hover {
  cursor: default;
  color: dimgray;
}
.timeline li > title.no-hover :hover {
  cursor: default;
  color: dimgray;
}
.timeline li > div {
  display: none;
  *opacity: 0;
  color: darkslategray;
}
.timeline li > div.show {
  display: block;
  *opacity: 1;
  *transition: all 5s ease;
  border-top: 1px dotted darkgray;
  border-bottom: 1px dashed lightgray;
  margin-top: 0.45em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 1em;
  line-height: 1.5em;
  font-size: 0.9em;
  font-weight: normal;
}
.timeline a:hover,
.timeline li.show {
  color: lightseagreen;//darkslategray;
}
.timeline li.detail {
  color: darkslategray;//darkslategray;
}
.timeline a {
  color: gray;
}

.timeline li > title:before {
  content: "-";/*"\2022";*/
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  font-size: 1em;
  transform: rotate(10deg);
}

/* mark of today */
.timeline .mark-today > time:after,
.timeline .date-today > time:after {
  position: absolute; 
  width: 160px;
  color: lightcoral;
  font-size: 2em;
}
.timeline .mark-today > time:after {
  content: "Today -";
  top: -1em;
  left: -0.2em;
}
.timeline .date-today > time:after {
  content: "Today";
  top: 0.3em;
  left: -0.5em;
}

/* color by the date */
.timeline .date-today  { 
  color: lightcoral; 
  transition-property: color;
  transition-duration: 1s;
}
.timeline .date-passed { 
  color: darkgray; 
  transition: color 0.2s;
}
/*.timeline a:hover,
.timeline.hover-li li:hover { 
  color: rgb(20, 165, 165);
  transition: color 0.2s;
}*/
.timeline .date-today:hover {
  color: red ;
}

.timeline .display-news {
  max-height: 7em;
  width: 24em;
  padding: .5em 1em .8em 1em;
  position: absolute;
  top: 2.8em;
  left: -27em;
  color: rgb(10, 145, 150);
  background: whitesmoke;
  /*box-shadow: -0.1em -0.05em 0.4em lightgray;*/
  border: 1px solie lightgray;
  border-radius: 2px;
}

.timeline .go-vote:after {
  color: white ;
  font-size: 1.＿em;
  background-color: lightcoral ;
  margin-left: 1em;
  padding: 0 .5em;
  transform: rotate(5deg);
}

#toTop {
  content: "top";/*"\2022";*/
  /*display:none;*/
  text-decoration:none;
  position:fixed;
  bottom:40px;
  margin-right: -620px !important;
  overflow:hidden;
  width:45px;
  height:45px;
  border:none;
  text-indent:-999px;
  z-index:9999;
  background:url(../images/totop.png) no-repeat left top;
  transition: 0s ease;
  -webkit-transition: 0s ease;
  -o-transition: 0s ease; 
}
#toTop:hover {
  background-position: right 0;
}
.timeline li ul li{
  border:none;
  font-family: "Helvetica Neue";
  font-weight: normal;
}
